html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Roboto', sans-serif;
	background-color: #eeeeee;
}

h1 { margin-bottom: 3vh; font-size: 3em; }

.box {
	height: max-content;
	width: 70vw;

	margin-top: 2vh;
	margin-bottom: 2vh;
	border: 1px solid black;
	border-radius: 5px;
	padding: 1vh 1vw 1vh 1vw;

	background-color: #bdbdbd;
}

#ps1 { display: flex; align-items: center; }
.not-editable { height: min-content; font-size: 2em; }

.editable {
	height: 100%;
	width: 100%;
	display: grid;
	align-content: center;
	margin-left: 1vw;
	margin-right: 1vw;
	border-bottom: 1px solid;
	font-size: 1.2em;
	outline: 0px solid transparent;
	background-color: #bdbdbd;
}

#cheat-sheet { font-size: 1.2em; }
#cheat-sheet .row { margin-bottom: .5vh; }
#cheat-sheet .spacer { margin-bottom: 3vh; }
#cheat-sheet #title { font-size: 2em; }
#cheat-sheet #subtitle { font-size: .8em; }

#cheat-sheet span {
	width: 8vw;
	padding: 2px 2px 2px 2px;
	border-radius: 8px;
	border: 1px solid black;
	display: inline-flex;
	justify-content: center;
	cursor: pointer;
	font-size: .9em;
}


#cheat-sheet #blue { background-color: blue; color: white; }
#cheat-sheet #green { background-color: green; color: white; }
#cheat-sheet #yellow { background-color: yellow; color: black; }
#cheat-sheet #red { background-color: red; color: white; }
#cheat-sheet #magenta { background-color: magenta; color: black; }
#cheat-sheet #black { background-color: black; color: white; }

#try-button {
	display: grid;
	justify-content: center;
	font-size: 2em;
	cursor: pointer;
}
